<div class="navigation">
  <button md-icon-button color="primary" (click)="goBack()"><md-icon>arrow_back</md-icon></button>
</div>
<div *ngIf="group; then showTools else loadingTools"></div>
<div *ngIf="usage; then showUsage else loadingUsage"></div>
<ng-template #showTools>
  <div class="usageform">
    <div class="mat-subheading-2 list-title">Time used on {{group.Name}}</div>
    <form [formGroup]="usageForm" novalidate (submit)="getUsage()">
      <md-input-container>
        <input mdInput [mdDatepicker]="startDatepicker" placeholder="Start date" formControlName="start">
        <button color="primary" mdSuffix [mdDatepickerToggle]="startDatepicker"></button>
        <md-error>Start date is required</md-error>
      </md-input-container>
      <md-datepicker color="primary" #startDatepicker></md-datepicker>
      <md-input-container>
        <input mdInput [mdDatepicker]="endDatepicker" placeholder="End date" formControlName="end">
        <button color="primary" mdSuffix [mdDatepickerToggle]="endDatepicker"></button>
        <md-error>End date is required</md-error>
      </md-input-container>
      <md-datepicker color="primary" #endDatepicker></md-datepicker>
      <button md-icon-button color="primary" title="Fetch"><md-icon>refresh</md-icon></button>
    </form>
  </div>
</ng-template>
<ng-template #loadingTools>
  <md-spinner></md-spinner>
</ng-template>
<ng-template #showUsage>
  <div class="usagereport">
    <table>
      <thead>
        <tr>
          <th class="id">Cost code</th>
          <th *ngFor="let date of usage.Dates">{{date.Date|date:'d.M.'}}</th>
          <th class="total">Total</th>
        </tr>
      </thead>
      <tfoot>
        <tr class="daily">
          <td class="id">Daily</td>
          <td *ngFor="let date of usage.Dates">{{date.Used|taskDuration}}</td>
          <td class="total">{{usage.Combined|taskDuration}}</td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="cost" *ngFor="let cost of usage.CostCodes">
          <td class="id">{{cost.CostCode}}</td>
          <td *ngFor="let d of cost.Usage">{{d.Used|taskDuration}}</td>
          <td class="total">{{cost.Total|taskDuration}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<ng-template #loadingUsage>
  <md-spinner></md-spinner>
<ng-template>
