:host {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.navigation {
  position: relative;
  margin-bottom: 1rem;
  background-color: #fcfcfc;
  border-bottom: 1px solid #f0f0f0;
}

.usageform {
  padding: 0 1rem;

  form {
    display: flex;
    align-items: center;

    md-input-container {
      flex: 1 1 auto;
      margin-right: 0.5rem;
    }
  }

  margin-bottom: 1rem;
}
