<div class="navigation">
  <button md-icon-button color="primary" (click)="goBack()"><md-icon>arrow_back</md-icon></button>
</div>
<div class="nameform">
  <form [formGroup]="groupForm" novalidate (submit)="saveGroup()">
    <md-input-container>
      <input mdInput placeholder="Group name" formControlName="name">
      <md-error>Name is required</md-error>
    </md-input-container>
    <button md-icon-button><md-icon>vertical_align_bottom</md-icon></button>
  </form>
</div>
<div class="listing">
  <div class="mat-subheading-2 list-title">Tasks</div>
  <div *ngIf="(tasks$|async)?.length == 0;then noTasks else showTasks"></div>
  <ng-template #showTasks>
    <md-list>
      <app-task *ngFor="let task of tasks$|async" [task]="task"></app-task>
    </md-list>
  </ng-template>
  <ng-template #noTasks>
    <span class="not-found-message">No tasks found.</span>
  </ng-template>
</div>
<div class="form">
  <app-add-task-form></app-add-task-form>
</div>
