<div class="navigation">
  <button md-icon-button color="primary" (click)="goBack()" title="Back"><md-icon>arrow_back</md-icon></button>
</div>
<div class="nameform">
  <div class="mat-subheading-1 list-title">Change name</div>
  <form [formGroup]="groupForm" novalidate (submit)="saveGroup()">
    <md-input-container>
      <input mdInput placeholder="Group name" formControlName="name">
      <md-error>Name is required</md-error>
    </md-input-container>
    <button md-icon-button title="Save"><md-icon>save</md-icon></button>
  </form>
</div>
<div class="usageform">
  <div class="mat-subheading-1 list-title">Fetch usage report</div>
  <form [formGroup]="usageForm" novalidate (submit)="getUsage()">
    <md-input-container>
      <input mdInput [mdDatepicker]="startDatepicker" placeholder="Start date" formControlName="start">
      <button mdSuffix [mdDatepickerToggle]="startDatepicker"></button>
      <md-error>Start date is required</md-error>
    </md-input-container>
    <md-datepicker #startDatepicker></md-datepicker>
    <md-input-container>
      <input mdInput [mdDatepicker]="endDatepicker" placeholder="End date" formControlName="end">
      <button mdSuffix [mdDatepickerToggle]="endDatepicker"></button>
      <md-error>End date is required</md-error>
    </md-input-container>
    <md-datepicker #endDatepicker></md-datepicker>
    <button md-icon-button title="Fetch"><md-icon>receipt</md-icon></button>
  </form>
</div>
<div class="listing">
  <div class="mat-subheading-1 list-title">Tasks</div>
  <div *ngIf="(tasks$|async)?.length == 0;then noTasks else showTasks"></div>
  <ng-template #showTasks>
    <md-list>
      <app-task *ngFor="let task of tasks$|async" [task]="task"></app-task>
    </md-list>
  </ng-template>
  <ng-template #noTasks>
    <span class="not-found-message">No tasks found.</span>
  </ng-template>
</div>
<div class="form">
  <app-add-task-form></app-add-task-form>
</div>
