<div class="navigation">
  <button md-icon-button color="primary" (click)="goBack()"><md-icon>arrow_back</md-icon></button>
</div>
<div class="nameform">
  <form [formGroup]="groupForm" novalidate (submit)="saveGroup()">
    <md-input-container>
      <input mdInput placeholder="Group name" formControlName="name">
      <md-error>Name is required</md-error>
    </md-input-container>
    <button md-icon-button><md-icon>vertical_align_bottom</md-icon></button>
  </form>
</div>
<div class="listing">
  <div *ngIf="(tasks$|async)?.length == 0;then noTasks else showTasks"></div>
  <ng-template #showTasks>
    <div class="md-subheading-2 list-title">Tasks</div>
    <md-list>
      <md-list-item *ngFor="let task of tasks$|async">
        <md-icon md-list-icon>timer</md-icon>
        <h4 md-line>{{task.costcode}} - {{task.name}}</h4>
        <p md-line *ngIf="!task.running">Time used: {{task.duration|taskDuration}}</p>
        <p md-line *ngIf="task.running">running</p>
        <button md-icon-button (click)="editTask(task)"><md-icon>mode_edit</md-icon></button>
        <button md-icon-button *ngIf="!task.running" color="primary" (click)="startTask(task)"><md-icon>play_circle_filled</md-icon></button>
        <button md-icon-button *ngIf="task.running" color="accent" (click)="stopTask(task)"><md-icon>stop</md-icon></button>
      </md-list-item>
    </md-list>
  </ng-template>
  <ng-template #noTasks>
    <span class="not-found-message">No tasks found.</span>
  </ng-template>
</div>
<div class="form">
  <app-add-task-form></app-add-task-form>
</div>
