:host {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
}

.header {
  flex: 0 0 auto;
  position: fixed;
  width: 100%;
}

.content {
  flex: 1 0 auto;
  display: flex;
  padding: 0;
  flex-direction: column;
  box-sizing: border-box;
  overflow: auto;
  margin-top: 85px;
  max-height: ~"calc(100vh - 85px)";
}

.loader {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
