<div class="navigation">
  <button md-icon-button color="primary" (click)="goBack()"><md-icon>arrow_back</md-icon></button>
</div>
<div class="detailsform">
  <form [formGroup]="taskFG" novalidate (submit)="saveTask()">
    <md-input-container>
      <input mdInput placeholder="Cost code" formControlName="costcode">
      <md-error>Cost code is required</md-error>
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Task name" formControlName="name">
      <md-error>Name is required</md-error>
    </md-input-container>
    <button md-icon-button color="accent" title="Save"><md-icon>vertical_align_bottom</md-icon></button>
  </form>
</div>
