<div *ngIf="active; then showActive else showInactive"></div>
<ng-template #showInactive>
  <span class="name mat-title">No task active</span>
</ng-template>

<ng-template #showActive>
  <section class="name-container">
    <span class="name mat-title">{{active.name}}</span>
    <span class="costcode mat-caption">{{active.costcode}} - {{elapsed}}</span>
  </section>
  <section class="button">
    <button md-icon-button color="accent" (click)="stop()" title="Stop task"><md-icon>stop</md-icon></button>
  </section>
</ng-template>
