<div class="mat-subheading-2 list-title">Groups</div>
<div *ngIf="(groups|async)?.length == 0; then noGroups else showGroups"></div>
<ng-template #showGroups>
  <md-list>
    <md-list-item *ngFor="let group of groups|async">
      <md-icon md-list-icon>work</md-icon>
      <h4 md-line>{{group.name}}</h4>
      <button md-icon-button color="primary" (click)="goTo(group)"><md-icon>arrow_forward</md-icon></button>
    </md-list-item>
  </md-list>
</ng-template>
<ng-template #noGroups>
  <span class="not-found-message">No groups found</span>
</ng-template>
